
/*nav {*/
  /*background-color: #900C3F ;*/
  /*list-style-type: none;*/
  /*margin: 0;*/
  /*padding: 0;*/
  /*width: 200px;*/
  /*overflow: hidden;*/
  /*float: right;*/
/*}*/
/*nav a {*/
  /*padding: 10px 10px;*/
  /*text-decoration: none;*/
  /*margin-top: 10px;*/
  /*display: block;*/
  /*background-color: #900C3F  ;*/
  /*!*border-radius: 4px;*!*/
  /*overflow: hidden;*/
/*}*/
/*nav a:visited, a:link {*/
  /*color: #607D8B;*/
/*}*/
/*nav a:hover {*/
  /*color: #039be5;*/
  /*background-color: #CFD8DC;*/
/*}*/
/*nav a.active {*/
  /*color: #039be5;*/
/*}*/

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 1%;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 80%;
}
/*li a {*/
  /*display: inline;*/
  /*color: #000010;*/
/*}*/

li {
  float: left;
}

a {
  display: block;
  /*padding: 8px;*/
  /*background-color: #900C3F  ;*/
  text-decoration: none;
  color: white;
  text-align: center;
  padding: 14px 16px;
}
a:hover {
  background-color: #900C3F;
}
.active {
  background-color: #900C3F;
}
