
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 1%;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 80%;
}

li {
  float: left;
}

a {
  display: block;
  text-decoration: none;
  color: white;
  text-align: center;
  padding: 14px 16px;
}
a:hover {
  background-color: #900C3F;
}
.active {
  background-color: #900C3F;
}
