<div *ngIf="video" class="grid">

    <div class="flex-just-sb" >
      <div class="cell ">
        <h5>Video Title</h5>
      </div>
      <div class="cell input-control text full-size">
        <input type="text" required [(ngModel)]="video.videoTitle" />
      </div>
    </div>

    <hr class="thin bg-grayLighter">

    <div class="flex-just-sb" >
      <div class="cell ">
        <h5 >Video url</h5>
      </div>
      <div class="cell input-control text full-size">
        <input type="text" required [(ngModel)]="video.url" />
      </div>
    </div>

    <!--<button class="save" (click)="save()">save</button>-->
</div>
