<div class="grid">
      <div class="row cells4">
          <div class="cell">
            <ul class="sidebar2 dark">
                <li routerLink="/player" class="stick bg-red"><a><span class="mif-home icon"></span>Player</a></li>
                <li class="divider"></li>
                <li routerLink="/todolist" class="stick bg-green" style="cursor:pointer"><a class="dropdown-toggle"> <span class="mif-cog icon"></span> Todo List</a></li>
                <ul class="d-menu" data-role="dropdown">
                  <li><a href="#">Коллеги</a></li>
                  <li><a href="#">Интересно</a></li>
                </ul>
                <li class="divider"></li>
                <li routerLink="/calculator" style="cursor:pointer" class="" ><a><span class="mif-home icon"></span> Calculator</a></li>
                <li class="divider"></li>
              </ul>
          </div>
        <div class="cell colspan3">
            <router-outlet></router-outlet>
        </div>

      </div>
</div>
