<h2>My To Do List</h2>
<table class="corp">
  <tr>
    <td><label>Task name:</label> </td>
    <td><input #TodoName /><br/></td>
  </tr>
  <tr>
    <td> <label>Address:</label></td>
    <td>  <input #TodoAdress /><br/></td>
  </tr>
  <tr>
    <td><label>Time:</label></td>
    <td><input #TodoTiming /><br/></td>
  </tr>
  <tr>
    <td></td>
    <td>
      <button class="addBtn" (click)="add(TodoName.value,TodoAdress.value,TodoTiming.value); TodoName.value='';TodoAdress.value='';TodoTiming.value=''">
      Add
      </button>
    </td>
  </tr>
</table>

<div class="container" style='overflow-y:auto;overflow-x: auto; width:800px;height:400px;'>
  <div class="jumbotron">
    <ul class="todo">
      <li *ngFor="let todo of todolist" [class.selected]="todo === selectTodo" (click)='onSelect(todo)' >
          <table width="25em">
              <tr>
                  <td>
                    <em><span class="id">{{todo.id}}</span></em>
                  </td>
                  <td>
                    <span class="name">{{todo.name}}</span>
                  </td>
                  <td>
                    <span class="place">{{todo.place}}</span>
                  </td>
                  <td>
                    <span class="time">{{todo.time}}</span>
                  </td>
                  <td>
                    <button class="close"
                            (click)="deleteTodo(todo); $event.stopPropagation()">x</button>
                  </td>
              </tr>
          </table>
   </ul>
<div *ngIf="selectTodo" class="select">
    <h3>
      {{ selectTodo.name |uppercase}} is my today task to do
    </h3>
  <button style="margin-left: 10em; background:red;" (click)="gotoDetail()"> More Details</button>
</div>
  </div>
</div>
