label {
  display: inline-block;
  width: 3em;
  margin: .5em 0;
  color: white;
  font-weight: bold;
}

input {
    border: none;
    width: 80%;
    padding: 10px;
    float: right;
    font-size: 12px;
}
button {
  margin-top: 20px;
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer; cursor: hand;
  margin-left: 6em;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}
.del{
  background-color:#f44336;
  color:white;
}

.id{
  margin-left:2em;
}
.detail{
  background-color: #5F6A6A ;
  padding: 30px 40px;
  color: white;
  text-align: left;
  width: 30em;
  border-radius: 60px;
  list-style-type: none;
  padding-left: 20px;
  -moz-border-radius: 20px;
  margin-left: 15%;
  margin-top: 3em;
}
h2{
  color:white;
  font-weight: bold;
margin-left:5em;
font-style: italic;
}
