<div  class="detail" *ngIf="todo">
  <h2> {{todo.name |uppercase}} task details :</h2>
  <div>
    <label>id: </label><span class="id">{{todo.id}}</span>
  </div>
  <div>
    <label>name: </label>
    <input [(ngModel)]="todo.name" placeholder="name"/>
  </div>
  <div>
    <label>place:</label>
    <input [(ngModel)]="todo.place" placeholder="place">
  </div>
  <div>
    <label>time:</label>
    <input [(ngModel)]="todo.time" placeholder="time">
  </div>

  <div>
    <button class="back" (click)="goBack()"> Back</button>
    <button (click)="save()">Save</button>
    <!-- <button class="del" (click)="deleteTodo(todo)">Delete</button> -->
  </div>



</div>
