/* youtube player */
.loader-video {
  top: calc(50% - 35px);
  left: calc(50% - 16px);
}

.mdl-navigation {
  width: 100%;
}

.mdl-layout-title {
  margin-right: 10px;
}

.mdl-layout-title>img {
  height: 35px;
}

.mdl-layout__header {
  height: 800px;
  width: 1700px;
  background-color: dodgerblue;
}

.mdl-layout__content {
  width: 100%;
}

.mdl-layout__header-row {
  padding: 0 40px 0 16px;
}

.mdl-layout__drawer-button {
  right: 0;
  left: inherit;
}

.blur-main-playlist-opened {
  opacity: 0.4;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.mdl-js-snackbar {
  bottom: 0;
  z-index: 999;
  right: 0;
  left: 78%;
  background-color: rgba(196, 48, 43, 0.85);
}

@media (max-width: 1150px) {
  .mdl-layout__content {
    width: 100%;
  }
  .ytb-player,
  .ytp-cued-thumbnail-overlay {
    width: 100px;
  }
}

.loader-progress {
  position: relative;
  width: 100%;
  margin-bottom: 60px;
  top: 0;
  left: 0;
}

.loader-progress>.loading {
  margin: 0 auto;
}

.demo-card-square.mdl-card {
  height: 210px;
  width: 100%;
}

.custom-cell.mdl-cell--2-col {
  width: calc(20% - 16px);
}

.custom-cell {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.demo-card-square>.mdl-card__title {
  color: #fff;
}

.mdl-card__title {
  position: relative;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.mdl-card--expand:hover {
  box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.3);
  background-size: 200% !important;
  cursor: pointer;
}

.mdl-card__supporting-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 6px 2px 2px 2px;
  color: rgb(196, 48, 43);
  text-align: right;
  width: 97%;
}

.mdl-card__supporting-text .material-icons {
  cursor: pointer;
  font-size: 20px;
}

.video-name-block {
  font-size: 11px;
  font-weight: normal;
  position: absolute;
  left: 0;
  top: 0;
  height: 40px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.45);
}

.video-info-block {
  font-size: 11px;
  font-weight: normal;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 30px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.45);
}

.video-informations {
  padding: 8px;
  text-align: center;
  height: 30px;
  width: 100%;
}

.video-informations i {
  font-size: 11px;
}

.video-play-button {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.video-play-button i {
  font-size: 50px;
  visibility: hidden;
}

.mdl-card--expand:hover .video-play-button i {
  visibility: visible;
}

.last-item {
  margin-bottom: 45px;
}

@media (max-width: 479px) {
  .custom-cell.mdl-cell--2-col {
    width: calc(100% - 16px);
  }
}

@media (max-width: 839px) and (min-width: 480px) {
  .custom-cell.mdl-cell--2-col {
    width: calc(50% - 16px);
  }
}

body {
  background-color: #EAEBED;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
}

.loading {
  margin-left: 10px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 0.2rem solid rgba(217, 30, 24, 0.5);
  border-top-color: rgb(52, 73, 94);
  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* ----------------------------------------------------------------*/

html, body {
           height: 100%;
       }
       body {
       }
       .page-content {
           padding-top: 3.125rem;
           min-height: 100%;
           height: 100%;
       }
       @media screen and (max-width: 800px){
           #cell-sidebar {
               flex-basis: 52px;
           }
           #cell-content {
               flex-basis: calc(100% - 52px);
           }
       }

/* 'Afficher/Cacher DIV' */
.box{
  opacity:0;
  align: left;
    -webkit-transition:.5s;
    -moz-transition:.5s;
    -o-transition:.5s;
    -ms-transition:.5s;
    transition:.5s;
}
.list:hover .box{
opacity:1;
}

/* 'Afficher/Cacher DIV' */
.titre {
  margin-left: 2em;
  font-weight: bolder;
}
.box{
  opacity:0;
  align: left;
    -webkit-transition:.5s;
    -moz-transition:.5s;
    -o-transition:.5s;
    -ms-transition:.5s;
    transition:.5s;
}
.list:hover .box{
opacity:1;

}
.test{
  margin-right: 6em;
}
.list{
  width:80%;
}

.panel .panel-primary{
  width: 80%;
  height: 70%;
}

/*dashboard*/
.sidebarservices {
  position: absolute;
  width: 25%;
  float: left;
  margin-top: 5em;
}
.sidebarservices .head {
  text-align:center;
  font-size:15pt;
  background:gray;
  color:white;
}
 .sidebarservices .content{
  width: 60%;
  margin-left: 15%;
}
.head:hover {
  background:gray !important;
  cursor: initial;
}
.sidebarservices li {
  list-style:none;
  background-color:#0e6eb7;
  margin:5px 10px;
  text-align:left;
  padding: 10px 0 10px 20px;
  border-radius:5px 5px;
  cursor:pointer;
  }
.sidebarservices li span {
  text-decoration:none;
  color:white !important;
  font-family: Century Gothic, sans-serif;
  }
  .sidebarservices li:hover {
    background:black;
    color:black;
  }

/*bootsrap */

.btn-success{
  margin-left: 8em;
  margin-bottom: 2em;
}
.btn-success:hover{
  background-color: blue;
}
.form-control{
    background: transparent;
}
form {
    width: 320px;
    margin: 20px;
}
form > div {
    position: relative;
    overflow: hidden;
}
form input, form textarea {
    width: 100%;
    border: 2px solid gray;
    background: none;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 8px 12px;
    outline: 0;
}
form input:valid, form textarea:valid {
    background: white;
}
form input:focus, form textarea:focus {
    border-color: #357EBD ;
}
form input:focus + label, form textarea:focus + label {
    background: #357EBD ;
    color: white;
    font-size: 70%;
    padding: 1px 6px;
    z-index: 2;
    text-transform: uppercase;
}
form label {
    -webkit-transition: background 0.2s, color 0.2s, top 0.2s, bottom 0.2s, right 0.2s, left 0.2s;
    transition: background 0.2s, color 0.2s, top 0.2s, bottom 0.2s, right 0.2s, left 0.2s;
    position: absolute;
    color: #999;
    padding: 7px 6px;
    font-weight: bold;
}
form textarea {
    display: block;
    resize: vertical;
}
form.go-bottom input, form.go-bottom textarea {
    padding: 12px 12px 12px 12px;
}
form.go-bottom label {
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
}
form.go-bottom input:focus, form.go-bottom textarea:focus {
    padding: 4px 6px 20px 6px;
}
form.go-bottom input:focus + label, form.go-bottom textarea:focus + label {
    top: 100%;
    margin-top: -16px;
}
form.go-right label {
    border-radius: 0 5px 5px 0;
    height: 100%;
    top: 0;
    right: 100%;
    width: 100%;
    margin-right: -100%;
}
form.go-right input:focus + label, form.go-right textarea:focus + label {
    right: 0;
    margin-right: 0;
    width: 40%;
    padding-top: 5px;
}

.center {
    margin-top:50px;
}

.modal-header {
	padding-bottom: 5px;
}

.modal-footer {
    	padding: 0;
	}

.modal-footer .btn-group button {
	height:40px;
	border-top-left-radius : 0;
	border-top-right-radius : 0;
	border: none;
	border-right: 1px solid #ddd;
}

.modal-footer .btn-group:last-child > button {
	border-right: 0;
}

form > div {
	position: relative;
	overflow: hidden;
}
form input, form textarea {
	width: 100%;
	border: 2px solid gray;
	background: none;
	position: relative;
	top: 0;
	left: 0;
	z-index: 1;
	padding: 8px 12px;
	outline: 0;
}
form input:valid, form textarea:valid {
	background: white;
}
form input:focus, form textarea:focus {
	border-color: #357EBD;
}
form input:focus + label, form textarea:focus + label {
	background: #357EBD;
	color: white;
	font-size: 70%;
	padding: 1px 6px;
	z-index: 2;
	text-transform: uppercase;
}
form label {
	-webkit-transition: background 0.2s, color 0.2s, top 0.2s, bottom 0.2s, right 0.2s, left 0.2s;
	transition: background 0.2s, color 0.2s, top 0.2s, bottom 0.2s, right 0.2s, left 0.2s;
	position: absolute;
	color: #999;
	padding: 7px 6px;
	font-weight: normal;
}
form textarea {
	display: block;
	resize: vertical;
}
form.go-bottom input, form.go-bottom textarea {
	padding: 12px 12px 12px 12px;
}
form.go-bottom label {
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
}
form.go-bottom input:focus, form.go-bottom textarea:focus {
	padding: 4px 6px 20px 6px;
}
form.go-bottom input:focus + label, form.go-bottom textarea:focus + label {
	top: 100%;
	margin-top: -16px;
}
form.go-right label {
	border-radius: 0 5px 5px 0;
	height: 100%;
	top: 0;
	right: 100%;
	width: 100%;
	margin-right: -100%;
}
form.go-right input:focus + label, form.go-right textarea:focus + label {
	right: 0;
	margin-right: 0;
	width: 40%;
	padding-top: 5px;
}
.panel-heading{margin-bottom:1em; font-size: 20px; font-weight: bolder;color:blue}
.container { margin-top:5em; }
.flag { color:rgb(248, 148, 6); }
.panel-body { padding:0px; }
.panel-footer .pagination { margin: 0; }
.panel .glyphicon,.list-group-item .glyphicon { margin-right:5px; }
.panel-body .radio, .checkbox { display:inline-block;margin:0px; }
.panel-body input[type=checkbox]:checked + label { text-decoration: line-through;color: rgb(128, 144, 160); }
.list-group-item:hover, a.list-group-item:focus {text-decoration: none;background-color: rgb(245, 245, 245);}
.list-group { margin-bottom:0px; }
